<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="C:\\Users\\pstojkov\\cernbox\\WINDOWS\\Desktop\\C\\RemoteDesktopCleaner\\nlog-internal.log" internalLogLevel="Trace" >
	<variable name="logTimestamp" value="${gdc:item=logTimestamp}" />
	<targets>
		<target name="logfileGeneral" xsi:type="File"  fileName="C:\\Users\\pstojkov\\cernbox\WINDOWS\Desktop\\C\\RemoteDesktopCleaner\\RemoteDesktopCleaner\\Logs\\${logTimestamp}_General.log"
	layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" deleteOldFileOnStartup="true" />
		<target name="logfileMarkedObsoleteRaps" xsi:type="File"  fileName="C:\\Users\\pstojkov\\cernbox\WINDOWS\Desktop\\C\\RemoteDesktopCleaner\\RemoteDesktopCleaner\\Logs\\${logTimestamp}_MarkedObsoleteRaps.log"
	layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" deleteOldFileOnStartup="true" />
		<target name="logfileSynchronizedLocalGroups" xsi:type="File"  fileName="C:\\Users\\pstojkov\\cernbox\WINDOWS\Desktop\\C\\RemoteDesktopCleaner\\RemoteDesktopCleaner\\Logs\\${logTimestamp}_SynchronizedLocalGroups.log"
			layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" deleteOldFileOnStartup="true" />
		<target name="logfileSynchronizedRAPs" xsi:type="File"  fileName="C:\\Users\\pstojkov\\cernbox\WINDOWS\Desktop\\C\\RemoteDesktopCleaner\\RemoteDesktopCleaner\\Logs\\${logTimestamp}_SynchronizedRAPs.log"
			layout="${longdate} ${uppercase:${level}} ${logger}: ${message}" deleteOldFileOnStartup="true" />
	</targets>
	<rules>
		<logger name="logfileGeneral" minlevel="Debug" writeTo="logfileGeneral" />
		<logger name="logfileMarkedObsoleteRaps" minlevel="Debug" writeTo="logfileMarkedObsoleteRaps" />
		<logger name="logfileSynchronizedLocalGroups" minlevel="Debug" writeTo="logfileSynchronizedLocalGroups" />
		<logger name="logfileSynchronizedRAPs" minlevel="Debug" writeTo="logfileSynchronizedRAPs" />
	</rules>
</nlog>
